<div class="card-deck">

    <div class="card" style="max-width: 576px;">
        <div class="card-header">Dungeon Name</div>
        <div class="card-body">
            <div id="dungeonBackground" class="">
                <!-- <img src="../../assets/BackgroundProject2.png" class="card-img" alt="Battlefield"
                    style="visibility: hidden;"> -->
                <div class="row">
                    <div class="col-sm"><img src="../../assets/GoblinCube.png" style="max-width: 64px;"></div>
                    <div class="col-sm"><img src="../../assets/GoblinCube.png" style="max-width: 64px;"></div>
                    <div class="col-sm"><img src="../../assets/GoblinCube.png" style="max-width: 64px;"></div>
                    <div class="col-sm"><img src="../../assets/GoblinCube.png" style="max-width: 64px;"></div>
                </div>
                <div class="row">
                    <div class="col-sm"><img src="../../assets/WarriorCube.png" style="max-width: 64px;"></div>
                    <div class="col-sm"><img src="../../assets/MageCube.png" style="max-width: 64px;"></div>
                    <div class="col-sm"><img src="../../assets/GuardCube.png" style="max-width: 64px;"></div>
                    <div class="col-sm"><img src="../../assets/HealerCube.png" style="max-width: 64px;"></div>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <div class="row">
                <a id="warriorActionBtn" (click)="warriorAction()" class="btn btn-primary col-sm-3">Action!</a>
                <a id="mageActionBtn" (click)="mageAction()" class="btn btn-primary col-sm-3">Action!</a>
                <a id="guardActionBtn" (click)="guardAction()" class="btn btn-primary col-sm-3">Action!</a>
                <a id="healerAction" (click)="healerAction()" class="btn btn-primary col-sm-3">Action!</a>
            </div>
            <div class=row>
                <button id="submitBtn" (click)="submitFunc()" class="btn btn-primary btn-lg btn-block">Submit!</button>
            </div>
        </div>
    </div>

    <div class="card" style="max-width: 256px;">
        <div class="card-header">Combat Log</div>
        <div class="card-body">
        </div>
    </div>

</div>