<div class="container mt-5">
<div class="card-deck">

    <div class="card" style="max-width: 576px;">
        <div class="card-header">Dungeon Name</div>
        <div class="card-body">
            <div id="dungeonBackground" class="">
                <!-- <img src="../../assets/BackgroundProject2.png" class="card-img" alt="Battlefield"
                    style="visibility: hidden;"> -->
                <div class="row pt-3 pb-5">
                    <div class="col-3"><img id="goblin1" (click)="goblinFn1()" src="../../assets/GoblinCube.png" style="max-width: 5rem;"></div>
                    <div class="col-3"><img id="goblin2" (click)="goblinFn2()" src="../../assets/GoblinCube.png" style="max-width: 5rem;"></div>
                    <div class="col-3"><img id="goblin2" (click)="goblinFn3()" src="../../assets/GoblinCube.png" style="max-width: 5rem;"></div>
                    <div class="col-3"><img id="goblin2" (click)="goblinFn4()" src="../../assets/GoblinCube.png" style="max-width: 5rem;"></div>
                </div>
                <div class="row mt-5 pt-5">
                    <div class="col-3"><img id="warriorId" src="../../assets/WarriorCube.png" style="max-width: 5rem;"></div>
                    <div class="col-3"><img id="mageId" src="../../assets/MageCube.png" style="max-width: 5rem;"></div>
                    <div class="col-3"><img id="guardId" src="../../assets/GuardCube.png" style="max-width: 5rem;"></div>
                    <div class="col-3"><img id="healerId" src="../../assets/HealerCube.png" style="max-width: 5rem;"></div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="row">
                <button id="warriorActionBtn" (click)="warriorAction()" class="btn btn-primary col-3" style="max-width: 8rem;">Attack</button>
                <button id="mageActionBtn" (click)="mageAction()" class="btn btn-primary col-3 ml-2" style="max-width: 8rem;">Attack</button>
                <button id="guardActionBtn" (click)="guardAction()" class="btn btn-primary col-3 ml-2" style="max-width: 8rem;">Attack</button>
                <button id="healerActionBtn" (click)="healerAction()" class="btn btn-primary col-3 ml-2" style="max-width: 8rem;">Attack</button>
            </div>
            <div class="row mt-2">
                <button id="submitBtn" (click)="submitFunc()" class="btn btn-primary btn-lg btn-block" style="max-width: 33.5rem;">Submit!</button>
                <!-- <button id="submitBtn" class="btn btn-primary btn-lg btn-block mt-2">Submit!</button> -->
            </div>
        </div>
    </div>

    <div class="card" style="max-width: 256px;">
        <div class="card-header">Combat Log</div>
        <div class="card-body">
        </div>
    </div>

</div>
</div>
